@model K2Calendar.Models.AdminUserInfoModel
@{
    ViewBag.Title = "Update User";
}
<div class="container">
    <h2>
        Adminstrate User</h2>
    <p>
        Use the form below to update the account.
    </p>
    <div class="alert alert-error">
         @Html.ValidationSummary(true, "Account update was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    </div>
    @Html.Partial("_ValidateScripts")
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.UserInfoModel.Id) 
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.Email)
        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled" })
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { disabled = "disabled" })
            </div>
        </div>
        <div class="row-fluid">
            @Html.LabelFor(m => m.UserInfoModel.SignUpDate)
            @Html.TextBoxFor(m => m.UserInfoModel.SignUpDate, new { placeholder = "mm/dd/yyyy" })
            @Html.ValidationMessageFor(m => m.UserInfoModel.SignUpDate)
        </div>
        <div class="row-fluid">
            @Html.LabelFor(m => m.UserInfoModel.RankId)
            @Html.DropDownListFor(m => m.UserInfoModel.RankId, (SelectList)ViewBag.RankList)
        </div>  
        <div class="row-fluid">
            @Html.LabelFor(m => m.Role)
            @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.RoleList)
        </div>      
        
        @Html.EditorFor(m => Model.UserInfoModel)
        
        <br />
        <p>
            <button type="submit" class="btn btn-primary btn-large" tabindex="14">
                Update &raquo;</button>
        </p>
    }
</div>
