@model K2Calendar.Models.AdminUserInfoModel
@{
    ViewBag.Title = "Update User";
    var warning = "";
    if (TempData["isSuccessRegister"] != null) 
    {
        warning = "control-group warning";
    }
}
<!-- rename post details to something else and use everywhere -->
<div class="container containerBackground">
    <h2>
        Adminstrate User</h2>
    
    @if (TempData["isSuccessAdmin"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Success!</strong> Account has been updated.
        </div>
    }
    else if (TempData["isSuccessRegister"] != null)
    {
         <div class="alert alert-warning">
            Account has been created. <strong>Do not forget to set Rank and Role!</strong>
        </div>
    }
    
    <p>
        Use the form below to update the account.
    </p>
    
    @Html.ValidationSummary(true, "Account update was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @Html.Partial("_ValidateScripts")
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.UserInfoModel.Id) 
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.Email)
        <legend>Account Details</legend>
        <div class="row">
            <div class="span4 offset2">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled" })
            </div>
            <div class="span4">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { disabled = "disabled" })
            </div>            
        </div>
        <div class="row">
            <div class="span4 offset2">
                @Html.LabelFor(m => m.UserInfoModel.SignUpDate)
                @Html.TextBoxFor(m => m.UserInfoModel.SignUpDate, new { placeholder = "mm/dd/yyyy" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.SignUpDate)
            </div>
            <div class="span4 @warning">
                @Html.LabelFor(m => m.UserInfoModel.RankId)
                @Html.DropDownListFor(m => m.UserInfoModel.RankId, (SelectList)ViewBag.RankList)
            </div>
        </div>
        <div class="row">
            <div class="span4 offset2 @warning">
                @Html.LabelFor(m => m.Role)
                @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.RoleList)               
            </div>
            <div class="span4" style = "padding-top:30px">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.UserInfoModel.IsActive) 
                    Enabled
                </label>
            </div>
        </div>
        
        @Html.EditorFor(m => Model.UserInfoModel)
        
        <br />
        <div class="row">
            <div class="span4 offset2">
                <p>
                    @CustomHtmlHelpers.SubmitButton("Update")
                </p>
            </div>
        </div>
    }
</div>
