@model K2Calendar.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div class = "container">
    <div class="row"><div class="span5 offset3">
    <h2>Change Password</h2>
    <p>
        Use the form below to change your password. 
    </p>
    <p>
        New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
    </p>

    @Html.Partial("_ValidateScripts")
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @using (Html.BeginForm()) {
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)
        @Html.ValidationMessageFor(m => m.OldPassword)
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <p>
            <input type="submit" value="Change Password" class="btn btn-primary btn-large"/>
        </p>
            
    }
    </div></div>
</div>
