@model K2Calendar.Models.EditUserInfoModel
@{
    ViewBag.Title = "Update User";
}
<div class="container">
    <h2>
        Update Account Details</h2>
    @if (TempData["isSuccessEdit"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Success!</strong> Account has been updated.
        </div>
    }
    <p>
        Use the form below to update the account.
    </p>
    @Html.ValidationSummary(true, "Account update was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @Html.Partial("_ValidateScripts")
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.UserInfoModel.Id) 
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.Email)
        <legend>Account Details</legend>
        <div class="row">
            <div class="span4 offset2">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled" })
            </div>
            <div class="span4">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { disabled = "disabled" })
            </div>
        </div>
        <div class="row">
            <div class="span4 offset2">
                @Html.LabelFor(m => m.UserInfoModel.SignUpDate)
                @Html.TextBoxFor(m => m.UserInfoModel.SignUpDate, new { disabled = "disabled" })
            </div>
            <div class="span4">
            @Html.LabelFor(m => m.UserInfoModel.RankId)
            @Html.TextBoxFor(m => m.UserInfoModel.Rank.Name, new { disabled = "disabled" })
            </div>
        </div>
        
        @Html.EditorFor(m => Model.UserInfoModel)
        <br />
        
        <div class="row">
            <div class="span4 offset2">
                <p>
                    <button type="submit" class="btn btn-primary btn-large">
                        Update &raquo;</button>
                </p>
            </div>
        </div>
    }
</div>
