@model K2Calendar.Models.EditUserInfoModel
@{
    ViewBag.Title = "Update User";
}
<div class="container">
    <h2>
        Update Account Details</h2>
    <p>
        Use the form below to update the account.
    </p>
    @Html.ValidationSummary(true, "Account update was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @Html.Partial("_ValidateScripts")
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.UserInfoModel.Id) 
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.Email)
        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled" })
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { disabled = "disabled" })
            </div>
        </div>
        <div class="row-fluid">
            @Html.LabelFor(m => m.UserInfoModel.SignUpDate)
            @Html.TextBoxFor(m => m.UserInfoModel.SignUpDate, new { disabled = "disabled" })
        </div>
        <div class="row-fluid">
            @Html.LabelFor(m => m.UserInfoModel.RankId)
            @Html.TextBoxFor(m => m.UserInfoModel.Rank.Name, new { disabled = "disabled" })
        </div>
        @Html.EditorFor(m => Model.UserInfoModel)
        <br />
        <p>
            <button type="submit" class="btn btn-primary btn-large">
                Update &raquo;</button>
        </p>
    }
</div>
