@model K2Calendar.Models.LogOnModel

@{
    ViewBag.Title = "Log In";
}

<div class="container">
    <div class="row"><div class="span5 offset3">
    <h2>Log In</h2>
    <p>
        Please enter your user name and password. 
        <!--@Html.ActionLink("Register", "Register") if you don't have an account.-->
    </p>
    @Html.Partial("_ValidateScripts")
    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @using (Html.BeginForm()) {
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <label class="checkbox">
             @Html.CheckBoxFor(m => m.RememberMe) 
             <!-- hack to get DisplayName metadata from this prop so as to match 
             bootstraps html formatting-->
             @ViewData.ModelMetadata.Properties.Where(p=>p.PropertyName=="RememberMe").SingleOrDefault().DisplayName
        </label>
        <button type="submit" class="btn btn-primary btn-large">Log In &raquo;</button>
        <br /><br />
        <small>
            <strong>
                *If you do not have an account please contact a K2 instructor.
            </strong>
        </small>
    }
    </div></div>
</div>
