@model K2Calendar.Models.CreateUserModel
@{
    ViewBag.Title = "Register";
}
<div class="container">
    <h2>
        Create a New Account</h2>
    <p>
        Use the form below to create a new account.
    </p>
    <p>
        Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
        characters in length.
    </p>
    <p>
        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    </p>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    @using (Html.BeginForm())
    {
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { tabindex = "1" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.PhoneNumber)
                @Html.TextBoxFor(m => m.UserInfoModel.PhoneNumber, new { tabindex = "9" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.PhoneNumber)
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { tabindex = "2" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.State)
                @Html.TextBoxFor(m => m.UserInfoModel.State, new { tabindex = "10" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.State)
            </div>
        </div>
       
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { tabindex = "3" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.ZipCode)
                @Html.TextBoxFor(m => m.UserInfoModel.ZipCode, new { tabindex = "11" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.ZipCode)
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { tabindex = "4" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.Country)
                @Html.TextBoxFor(m => m.UserInfoModel.Country, new { tabindex = "12" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.Country)
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.FirstName)
                @Html.TextBoxFor(m => m.UserInfoModel.FirstName, new { tabindex = "5" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.FirstName)
            </div>
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.BirthDate)
                @Html.TextBoxFor(m => m.UserInfoModel.BirthDate, new { tabindex = "13", placeholder = "mm/dd/yyyy" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.BirthDate)
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.LastName)
                @Html.TextBoxFor(m => m.UserInfoModel.LastName, new { tabindex = "6" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.LastName)
            </div>
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.EnrollmentDate)
                @Html.TextBoxFor(m => m.UserInfoModel.EnrollmentDate, new { tabindex = "14", placeholder = "mm/dd/yyyy" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.EnrollmentDate)
            </div>
        </div>
          
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.Address1)
                @Html.TextBoxFor(m => m.UserInfoModel.Address1, new { tabindex = "7" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.Address1)
            </div>
            <div class="span6">
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(m => m.UserInfoModel.Address2)
                @Html.TextBoxFor(m => m.UserInfoModel.Address2, new { tabindex = "8" })
                @Html.ValidationMessageFor(m => m.UserInfoModel.Address2)
            </div>
            <div class="span6">
            </div>
        </div>
        
        <br />
        <p>
            <button type="submit" class="btn btn-primary btn-large" tabindex = "17">Register &raquo;</button>
        </p>
    }
</div>
