@model K2Calendar.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";    
}

<div class = "container">
    <!--TODO: refactor single center column layout-->
    <div class="row"><div class="span5 offset3 containerBackground">
    <h2>Reset Password</h2>
    <p>
        Your new password will be sent to the email address on file for the account name provided below.
    </p>
    @Html.Partial("_ValidateScripts")
    @Html.ValidationSummary(true, "Password reset was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Username);
        @Html.TextBoxFor(m => m.Username);
        @Html.ValidationMessageFor(m => m.Username);
        <p>
            @CustomHtmlHelpers.SubmitButton("Reset Password")
        </p>
    }

    </div></div>
</div>
