@model K2Calendar.Models.PostModel
    
@Html.LabelFor(model => model.Title)
@Html.TextBoxFor(model => model.Title, new { style = "width:320px;" })
@Html.ValidationMessageFor(model => model.Title)
@Html.LabelFor(model => model.Description)
@Html.TextAreaFor(model => model.Description, new { rows = "10", style = "width:320px;" })
@Html.ValidationMessageFor(model => model.Description)
<label class="checkbox">
    @Html.CheckBoxFor(model => model.IsActive) Visible
</label>
@Html.LabelFor(model => model.RankId, "Rank")
@Html.DropDownListFor(m => m.RankId, (SelectList)ViewBag.RankList)
@Html.LabelFor(model => model.EventDate)
@Html.TextBoxFor(model => model.EventDate, new { placeholder = "mm/dd/yyyy" })
@Html.ValidationMessageFor(model => model.EventDate)
@Html.LabelFor(model => model.YoutubeId)
@Html.TextBoxFor(model => model.YoutubeId, new { placeholder = ".../watch?v=COPY_PASTE_THIS" })
@Html.ValidationMessageFor(model => model.YoutubeId)
@Html.LabelFor(model => model.Tags)
@Html.ValidationMessageFor(model => model.TagsInput)
@CustomHtmlHelpers.TagsListFor(Model, false, "")
<br />
<br />
