@model K2Calendar.Models.UserInfoModel
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.Address1)
        @Html.TextBoxFor(m => m.Address1)
        @Html.ValidationMessageFor(m => m.Address1)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.Address2)
        @Html.TextBoxFor(m => m.Address2)
        @Html.ValidationMessageFor(m => m.Address2)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State)
        @Html.ValidationMessageFor(m => m.State)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.ZipCode)
        @Html.TextBoxFor(m => m.ZipCode)
        @Html.ValidationMessageFor(m => m.ZipCode)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.Country)
        @Html.TextBoxFor(m => m.Country)
        @Html.ValidationMessageFor(m => m.Country)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber)
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.BirthDate)
        @Html.TextBoxFor(m => m.BirthDate, new { placeholder = "mm/dd/yyyy" })
        @Html.ValidationMessageFor(m => m.BirthDate)
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @Html.LabelFor(m => m.EnrollmentDate)
        @Html.TextBoxFor(m => m.EnrollmentDate, new { placeholder = "mm/dd/yyyy" })
        @Html.ValidationMessageFor(m => m.EnrollmentDate)
    </div>
</div>

