<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse">
               <div class="row-fluid">
                    <!--<img src="@Url.Content("~/Content/images/k2_logo.png")" class="img-rounded" width="40px" height="40px"  alt="RCJ Machado Jiu-Jitsu"/></a>
                    <img src="@Url.Content("~/Content/images/machado_logo.jpg")" class="img-circle" width="40px" height="40px" alt="K2 Martial Arts"/></a>-->
                  
                    <a class="brand" tabindex="-1" href="@Url.Action("Index", "Home")">K2 BJJ Portal <span class="label label-important" style="margin-top:0px;" >Beta</span></a>
                    @if (Request.IsAuthenticated)
                    {
                        //TODO: use cookie instead?
                        var session = HttpContext.Current.Session;
                        if (session["rankimg"] == null || session["userid"] == null)
                        {
                            K2Calendar.Models.UserInfoModel user = K2Calendar.Controllers.AccountController.GetUserInfoFromMembershipUser(Membership.GetUser(@User.Identity.Name), new K2Calendar.Models.AppDbContext());
                            session["rankimg"] = user.Rank.Image;
                            session["userid"] = user.Id;
                        }
                        var rankimg = session["rankimg"].ToString();
                        var userid = session["userid"].ToString();
                    
                        <ul class="nav">
                            <li class="active"><a href="@Url.Action("Index", "Home")" tabindex="-1">Home</a> </li>
                            <li><a href="@Url.Action("Index", "Post")" tabindex="-1">Browse</a> </li>
                            <li><a href="#" tabindex="-1"><!--<a href="@Url.Action("Post", "Search")" tabindex="-1">-->Search</a> </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1">Partners <b class="caret"></b>
                               </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="http://www.carlosmachado.net/" tabindex="-1">RCJ Machado</a>
                                    </li>
                                    <li>
                                        <a href="http://www.martialartsottawa.com/" tabindex="-1">K2 Martial Arts</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                                
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                    @User.Identity.Name
                                    <img src="@Url.Content("~/Content/images/")@rankimg" width="50px" height="50px" alt="rankimg"/>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Edit", "Account", new { id = userid })" tabindex="-1">Account Details</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ChangePassword", "Account", new { id = userid })" tabindex="-1">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("LogOff", "Account")" tabindex="-1">Log Out</a>
                                    </li>
                                    @if (User.IsInRole("Adminisrator") || User.IsInRole("SuperAdmin")) {
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="-1">Administrator</a>  
                                        <ul class="dropdown-menu">
                                            <li>                       
                                                <!--<a href="@Url.Action("Posts", "Admin")" tabindex="-1">Posts</a>-->
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Users", "Admin")" tabindex="-1">Users</a>
                                            </li> 
                                        </ul>
                                    </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                                
                        <form action="@Url.Action("Search", "Post")" method="post" class="navbar-search pull-right">
                            <input type="text" class="search-query" name="Query" id="Query" placeholder="Coming Soon!"  tabindex="-1">
                        </form>
                    }
                    else
                    {
                        <form class="navbar-form pull-right" action="@Url.Action("LogOn", "Account")" method="post" style="margin-bottom:5px;" tabindex="-1">
                        <input type="text" class="span4" placeholder="Username" name="UserName" id="UserName"  tabindex="1"/>
                        <input type="password" class="span4" placeholder="Password" name="Password" id="Password"  tabindex="2"/>
                        <button type="submit" class="btn btn-primary" tabindex="3">
                            Log In &raquo;</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
