@model K2Calendar.Models.PostModel
@{
    ViewBag.Title = "Create Technique";
}
<div class="container containerBackground">
    <div class="row"><div class="span5 offset3 containerBackground">
    <h2>
        Create a Technique</h2>
    <p>
        Use the form below to create a new technique.</p>
    @Html.ValidationSummary(true, "Technique creation failed. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @Html.Partial("_ValidateScripts")
    <script src="@Url.Content("~/Scripts/jquery.tokeninput.js")" type="text/javascript"></script>
    
    @using (Html.BeginForm())
    {
        
        @Html.EditorForModel(Model)

        <p>
            @CustomHtmlHelpers.SubmitButton("Create")
        </p>
    }
    </div></div>
</div>
