@model K2Calendar.Models.PostModel
@{
    ViewBag.Title = Model.Title;
}
<!-- TODO: refactor this block and the same block in Index.cshtml into partial, pass list of 1 for this guy -->
<script src="@Url.Content("~/Scripts/jquery.tokeninput.js")" type="text/javascript"></script>
<div class="container" id="PostDetails">
    <div class="row">
        <div class="span8">
        <div class="span8 containerBackground"> <!--Body content-->
            <div class="row">
                <div class="span8">
                    <h2>@Model.Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="span8" style="padding:10px;">
                    <iframe width="640" height="385" src="http://www.youtube.com/embed/@Model.YoutubeId?rel=0" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
            <!--TODO: support subcriptions
                <div class="span2">
                    @Html.ActionLink("Subscribe", "Subscribe")
                </div>-->
            <!-- TODO: flag as new, post since last login -->
            <div class="row">
                <div class="span8">
                        <p>
                        @if (User.IsInRole("Adminisrator") || User.IsInRole("SuperAdmin"))
                        {
                            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-danger"><i class="icon-edit icon-white"></i> Edit</a>
                        }
                        </p>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <p>
                        <img src="@Url.Content("~/Content/images/")@Model.Rank.Image" alt="@Model.Rank.Name" width="70px" height="70px" />
                        <small>
                            Posted by @Model.PostedBy.FirstName @Model.PostedBy.LastName and taught on @Model.EventDate.ToLocalTime().ToShortDateString()
                        </small>                        
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    @CustomHtmlHelpers.TagsListFor(Model, true, "facebook")
                </div>
            </div> 
        <!-- TODO: implement comments-->
        </div> <!-- End of Body content-->
        </div>
        <div class="span2 offset1 sideBar"> <!--Sidebar content-->
            <!--TODO: implement related videos-->
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div> <!-- End of Sidebar content-->
    </div>
</div>
