@{
    ViewBag.Title = "K2 BJJ";
}
 <script type="text/javascript">
     var addToHomeConfig = {
         animationIn: 'bubble',
         animationOut: 'drop',
         lifespan: 10000,
         expire: 2,
         touchIcon: true,
         message: 'K2 BJJ Portal is mobile friendly! Please add this site to your iOS home screen so you can learn on the bus.'
     };
</script>
<script type="text/javascript" src="@Url.Content("~/Content/add2home.js")"></script>  

<div class="container">
    <img src="@Url.Content("~/Content/images/k2_logo.png")" class="img-rounded" alt="RCJ Machado Jiu-Jitsu"/>
    <img src="@Url.Content("~/Content/images/machado_logo.jpg")" class="img-circle" alt="K2 Martial Arts"/>
    <!--TODO: currently these two divs are almost same, if they don't change in future
    we could just do switch out class dynamically rather than using responsive stuff from Bootstrap?-->
    <div class="hero-unit hidden-phone">
        <div>
            <h1>K2 Brazilian Jiu Jitsu Portal</h1>
            <br />
            <ul>
                <li>Review techniques learned in class by watching instructional videos</li>  
                <li>Discuss these techniques with your fellow class members</li>        
                <li>Find techniques by date or by technique category</li> 
                <li>Become a better BJJ player</li>           
            </ul>
            <br />
            @if (!Request.IsAuthenticated)
            {
                <p><a href="@Url.Action("Logon", "Account")" class="btn btn-primary btn-large">Log In &raquo;</a></p>
            }
            else
            {
                <p><a href="@Url.Action("Index", "Post")" class="btn btn-primary btn-large">Learn &raquo;</a></p>
            }
        </div>
    </div>
    <div class="containerBackground visible-phone">
        <div>
            <h3>K2 Brazilian Jiu Jitsu Portal</h3>
            <ul>
                <li>Review techniques learned in class by watching instructional videos</li>  
                <li>Discuss these techniques with your fellow class members</li>        
                <li>Find techniques by date or by technique category</li> 
                <li>Become a better BJJ player</li>           
            </ul>
            @if (!Request.IsAuthenticated)
            {
                <p><a href="@Url.Action("Logon", "Account")" class="btn btn-primary btn-large">Log In &raquo;</a></p>
            }
            else
            {
                <p><a href="@Url.Action("Index", "Post")" class="btn btn-primary btn-large">Learn &raquo;</a></p>
            }     
        </div>
    </div>
    <div>
        <h2>More Courses Available at K2 Martial Arts</h2>
    </div>
    <div class="row">
        <div class="span4">
            <h3>Kickboxing</h3>
            <p>In just a few hours a week we will revolutionize what you have come to expect out of exercise.</p>
            <p><a class="btn" href="http://www.martialartsottawa.com">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h3>Kids</h3>
            <p>Empower you child to develop unshakable confidence, focus, discipline and true leadership skills.</p>
            <p><a class="btn" href="http://www.martialartsottawa.com">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h3>Cage Fitness</h3>
            <p>Power. Strength. Confidence. 30 minutes X twice a week.</p>
            <p><a class="btn" href="http://www.martialartsottawa.com">View details &raquo;</a></p>
        </div>
    </div>
</div>
